---
layout: default
---
{% assign events = site.events_shocktober | sort: 'showdate' %}

<link rel="stylesheet" type="text/css" href="{{ "assets/shocktober/style.css" | relative_url }}"/>

	<section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="shockhead" >
    
	    <div class="mbr-section__container mbr-section__container--sm-padding container mbr-after-navbar">
			
	        <div class="row">
	            <div class="col-sm-12">
	                <div class="row">
	                    <div class="col-sm-3 col-sm-offset-1">
							<img src="{{ "assets/shocktober/logo.png" | relative_url }}" width="297" height="312" alt="Logo">
						</div>
							<div class="col-sm-6 col-sm-offset-1">
								<p class="oldie">OXFORD’S FIRST EVER HORROR FILM FESTIVAL</p>
								<span class="heads">
								 6 FILMS<br>
								 6 VENUES<br>
								 6 NIGHTS<br>
								&nbsp;&nbsp;&nbsp;OF <span class="red">HORROR</span></span>
							</div>
					</div>
				</div>		
		          
		</div></div></section>
		<section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="shocks" >
    
		    <div class="mbr-section__container mbr-section__container--sm-padding container">
								
							
{% for event in events %}
		        <div class="row shockentry">
					<div class="col-sm-3 col-sm-offset-1">
						<img src="https://www.fillmurray.com/297/167" alt="">
					</div>
                    <div class="col-sm-6 col-sm-offset-1">
<h1 class="mbr-hero__text">{{ event.title | escape }}</h1>
 <p class="mbr-hero__subtext deets">
{% assign day = event.showdate | date: "%-d"  %}
{{ event.showdate | date: "%A %-d" }}<sup>{% case day %}{% when '1' or '21' or '31' %}st{% when '2' or '22' %}nd{% when '3' or '23' %}rd{% else %}th{% endcase %}</sup>
{{ event.showdate | date: "%B %Y" }}<br>
@ {{ event.location }}
<br>{{ event.times | default:"Doors 7:30pm / Film 8:30pm" }}. 18+
</p>
<div class="desc"> {{ event.content }}</div>

{% if event.booking_link %}
<div class="mbr-buttons btn-inverse mbr-buttons--left"><a class="mbr-buttons__btn btn btn-lg btn-danger" href="{{ event.booking_link }}" target="_blank">GET TICKETS</a></div>
{% else %}
{% endif %}
					</div>
			</div>
{% endfor %}


	                </div></div></div></section>
	




</section>
	

{% include parallax.html %}
		

  {% include subscribe.html %}
  

	
