---
layout: default
title: "Shocktober Festival by Cinema Under The Stairs"
---
{% assign events = site.events_shocktober | sort: 'showdate' %}

<link rel="stylesheet" type="text/css" href="{{ "assets/shocktober/style.css" | relative_url }}"/>

	<section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="shockhead" >
    
	    <div class="mbr-section__container mbr-section__container--sm-padding container mbr-after-navbar">
			
	        <div class="row">
	            <div class="col-sm-12">
	                <div class="row">
	                    <div class="col-sm-3 col-sm-offset-1">
							<img src="{{ "assets/shocktober/logo.png" | relative_url }}" width="297" height="312" alt="Logo">
						</div>
							<div class="col-sm-6 col-sm-offset-1">
								<p class="oldie">OXFORD’S FIRST EVER HORROR FILM FESTIVAL</p>
								<span class="heads">
								 6 FILMS<br>
								 6 VENUES<br>
								 6 NIGHTS<br>
								&nbsp;&nbsp;&nbsp;OF <span class="red">HORROR</span></span>
							</div>
					</div>
				</div>		
		          
		</div></div></section>
		<section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="shocks" >
    
		    <div class="mbr-section__container mbr-section__container--sm-padding container">
								
							
{% for event in events %}
		        <div class="row shockentry">
					<div class="col-sm-3 col-sm-offset-1">
						<img src="{{ event.thumb | relative_url }}" alt="" width="297" height="167">
					</div>
                    <div class="col-sm-6 col-sm-offset-1">
<h1 class="mbr-hero__text">{{ event.title | escape }}</h1>
 <p class="mbr-hero__subtext deets">
{% assign day = event.showdate | date: "%-d"  %}
{{ event.showdate | date: "%A %-d" }}<sup>{% case day %}{% when '1' or '21' or '31' %}st{% when '2' or '22' %}nd{% when '3' or '23' %}rd{% else %}th{% endcase %}</sup>
{{ event.showdate | date: "%B" }}<br>
{{ event.times | default:"Doors 7:30pm / Film 8:30pm" }}<br>
{{ event.location }}

</p>
<div class="desc">
<p> {{ event.subtext}}</p>
	{{ event.content }}</div>

{% if event.booking_link %}
<div class="mbr-buttons btn-inverse mbr-buttons--left"><a class="mbr-buttons__btn btn btn-lg btn-danger" href="{{ event.booking_link }}" target="_blank">GET TICKETS</a></div>
{% else %}
{% endif %}
					</div>
			</div>
{% endfor %}

		        <div class="row shockentry">
					<div class="col-sm-3 col-sm-offset-1">
						<img src="{{ "assets/shocktober/certificate.jpg" | relative_url }}" width="297" height="280" alt="Tees">
					</div>
                    <div class="col-sm-6 col-sm-offset-1">
						<h1 class="mbr-hero__text">FESTIVAL PASS</h1>
						 <p class="mbr-hero__subtext deets">
							 WITH CERTIFICATE
						 </p>
						 <div class="desc">
							 <p>							 Personalised A3 certificate to whoever survives all 6 movies in the festival!
</p></div>
<div class="mbr-buttons btn-inverse mbr-buttons--left"><a class="mbr-buttons__btn btn btn-lg btn-danger" href="http://www.wegottickets.com/event/482699" target="_blank">BUY FESTIVAL PASS</a></div>

					</div>
				</div>
				
	</div></div></div>


</section>
	
	
<section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="merch" >
	
		    <div class="mbr-section__container mbr-section__container--sm-padding container">
								
		        <div class="row shockentry">
					<div class="col-sm-3 col-sm-offset-1">
						<img src="{{ "assets/shocktober/tees.jpg" | relative_url }}" width="297" height="245" alt="Tees">
					</div>
                    <div class="col-sm-6 col-sm-offset-1">
						<h1 class="mbr-hero__text">SHOCKTOBER MERCH</h1>
						 <p class="mbr-hero__subtext deets">
							 Celebrate Oxford's first horror film festival with a limited edition tour t-shirt
							 </p>
						
						<div class="mbr-buttons btn-inverse mbr-buttons--left"><a class="mbr-buttons__btn btn btn-lg btn-danger" href="https://cinemaunderthestairs.teemill.com/product/shocktober-festival-u201919-tee/" target="_blank">BUY A TEE</a></div>
					</div>
				</div>
			</div>
		</section>
						
						

{% include parallax.html %}
		

  {% include subscribe.html %}
  

	
