	<section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="form2-6" style="background-color: rgb(239, 239, 239);">
    
	    <div class="mbr-section__container mbr-section__container--sm-padding container" >
	        <div class="row">
	            <div class="col-sm-12">
	                <div class="row">
	                    <div class="col-sm-8 col-sm-offset-2">
	                        <div class="mbr-header mbr-header--center mbr-header--std-padding">
						
	                            <h2 class="mbr-header__text">CINEMA UNDER THE STAIRS</h2>
	                        </div>
							<p>We are six local losers who love cinema.</p>

<p>One evening in a pub, we discussed if we owned a 
cinema, what would that cinema be. It would have to show our favourite movies, the opportunity to watch classics from the past on the big screen again was a must. 
Tickets would be cheap, akin to the ‘Dollar Theatres’ from America. The place would be full of friendly folk in a laid back environment, as if you were watching at a friend’s house. In which case, alcohol was a must.</p>

<p>The sound and picture quality, although important would not be paramount. The most important thing is that it would become a meeting point, a place to catch old 
favourites on a big screen, with salty popcorn and a cold one, surrounded by like-minded strangers.</p>

<p>Those strangers would eventually become familiar faces and friends. A monthly experience which would become a ritual for film fans in our city.</p>

<p>So we decided to create that cinema.</p>

<p>Welcome to CINEMA UNDER THE STAIRS</p>



	                    </div>
	                </div>

	            </div>
	        </div>
	    </div>
	</section>