	<section class="mbr-section mbr-section-hero mbr-section-full mbr-parallax-background mbr-section-with-arrow mbr-after-navbar" id="header1-1" style="background-image: url({%if page.header_img %}{{page.header_img | relative_url }}{% else %}{{ "assets/images/room.jpg" | relative_url }}{% endif %}
);">

	    <div class="mbr-table-cell">

	        <div class="container">
	            <div class="row" style="height:300px;">

	            </div>
	        </div>
	    </div>

	    <div class="mbr-arrow mbr-arrow-floating" aria-hidden="true"><a href="#features6-3"><i class="mbr-arrow-icon"></i></a></div>

	</section>