---
layout: default
---
{% assign events = site.events | sort: 'showdate' | reverse %}



{% for event in events limit:1 %}
	<section class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--full-height mbr-section--bg-adapted" id="header1-2" data-bg-video="https://www.youtube.com/embed/{{ event.clip_id }}?rel=0&amp;autoplay=1&amp;loop=1">
	    <div class="mbr-box__magnet mbr-box__magnet--sm-padding mbr-box__magnet--center-left mbr-after-navbar">
	        <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(34, 34, 34);"></div>
	        <div class="mbr-box__container mbr-section__container container">
	            <div class="mbr-box mbr-box--stretched"><div class="mbr-box__magnet mbr-box__magnet--center-left">


	                <div class="row">
						<div class=" col-sm-3 col-sm-offset-3">
	                    <div class="animated fadeInUp">
						
								<img src="{{ event.poster_thumb | relative_url }}" alt="">
						</div>
						</div>
						<div class=" col-sm-6">
						
	                    <div class="mbr-hero animated fadeInUp">
							 <p class="mbr-hero__intro">Cinema Under The Stairs presents…</p>
	                        <h1 class="mbr-hero__text">{{ event.title | escape }}</h1>
	                        <p class="mbr-hero__subtext">
								{% if event.status == "postponed" %}
								Postponed - new date TBA<br>
								{% else %}
								{% assign day = event.showdate | date: "%-d"  %}
								{% assign today = site.time | date: "%s" | plus: 0 %}
								{% assign ticketdate = event.showdate | date: "%s" | minus: 604800 %}
								{{ event.showdate | date: "%A %-d" }}<sup>{% case day %}{% when '1' or '21' or '31' %}st{% when '2' or '22' %}nd{% when '3' or '23' %}rd{% else %}th{% endcase %}</sup>
								{{ event.showdate | date: "%B %Y" }}<br>
								{% endif %}
								@ {{ event.location | default:"TBA" }}
								<br>{{ event.times | default:"Doors 7:30pm / Film 8:30pm" }}. 18+<br>
								{{ event.available | default:"Alcohol, popcorn, and prizes available" }}
								{% if event.status == "presale" %}
								<br><b>Limited tickets drop {{ event.showdate | date: "%-d" | minus:7 }} {{ event.showdate | date: "%B" }}</b>
								{% else %}
								{% if event.status == "soldout" %}
								<br><b>SOLD OUT - contact us for waitlist</b>
				    			{% endif %}
								{% endif %}
				    		</p>
								
	                    </div>
						{% if event.vote_link %}
	                    <div class="mbr-buttons btn-inverse mbr-buttons--left"><a class="mbr-buttons__btn btn btn-lg btn-danger animated fadeInUp delay" href="{{ event.vote_link }}" target="_blank">VOTE FOR THE FILM</a>
						{% endif %}
				    		{% if event.status == "streaming" %}
	                    <div class="mbr-buttons btn-inverse mbr-buttons--left"><a class="mbr-buttons__btn btn btn-lg btn-danger animated fadeInUp delay" href="{{ event.stream_link }}" target="_blank">WATCH NOW</a>
						{% endif %}
						{% if event.status == "selling" %}
	                    <div class="mbr-buttons btn-inverse mbr-buttons--left"><a class="mbr-buttons__btn btn btn-lg btn-danger animated fadeInUp delay" href="{{ event.booking_link }}" target="_blank">GET TICKETS</a>
						{% endif %}
							<a class="mbr-social-icons__icon socicon-bg-facebook  animated fadeInUp delay" title="Facebook" target="_blank" href="{% if event.fb_link %}{{ event.fb_link }}{% else %}https://www.facebook.com/CinemaUnderTheStairs/{% endif %}"><i class="socicon socicon-facebook"></i></a>    
							<a class="mbr-social-icons__icon socicon-bg-twitter  animated fadeInUp delay" title="Twitter" target="_blank" href="https://twitter.com/CineUnderStairs"><i class="socicon socicon-twitter"></i></a>   
							<a class="mbr-social-icons__icon socicon-bg-instagram  animated fadeInUp delay" title="instagram" target="_blank" href="https://www.instagram.com/cinemaunderthestairs/"><i class="socicon socicon-instagram"></i></a>   
							<a class="mbr-social-icons__icon socicon-bg-youtube  animated fadeInUp delay" title="YouTube" target="_blank" href="https://www.youtube.com/channel/UC0ZT57W41MRCK3OiPv01CNQ"><i class="socicon socicon-youtube"></i></a>  
						
						 </div>
	                </div></div>
	            </div></div>
	        </div>
	        <div class="mbr-arrow mbr-arrow--floating text-center">
	            <div class="mbr-section__container container">
	                <a class="mbr-arrow__link" href="#social-buttons2-3"><i class="glyphicon glyphicon-menu-down"></i></a>
	            </div>
	        </div>
	    </div>
	</section>
{% endfor %}

{% include banner.html %}	

{% include subscribe.html %}

{% include parallax.html %}
	
	<section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="podcast2-6" style="background-color: rgb(239, 239, 239);">
    
	    <div class="mbr-section__container mbr-section__container--sm-padding container" style="padding-top: 40.8px; padding-bottom: 40.8px;">
	        <div class="row">
	            <div class="col-sm-12">
	                <div class="row">
	                    <div class="">
	                        <div class="mbr-header mbr-header--center mbr-header--std-padding">
	                            <h2 class="mbr-header__text">CUTS PODCAST</h2>
								<p>Listen to the latest episode of the 5-star rated CUTS podcast…
	                        </div>
							<iframe src="https://castbox.fm/app/castbox/player/id1998712?v=8.10.3&autoplay=0" frameborder="0" width="100%" height="500"></iframe>
							
	</div></div></div></div></div></section>
	
		<section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="form2-6" style="background-color: #ffdf18;">

	<div class="mbr-header mbr-header--center mbr-header--std-padding" style="padding-top: 40.8px; padding-bottom: 40.8px;">
			                            <h2 class="mbr-header__text"><img src="/assets/images/largelogo.png" width="142" height="128" alt="CINEMA UNDER THE STAIRS"></h2>
									
									</div>
	</section>
	
	
	<section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="form2-6" style="background-color: rgb(239, 239, 239);">
    
	    <div class="mbr-section__container mbr-section__container--sm-padding container" style="padding-top: 40.8px; padding-bottom: 40.8px;">
	        <div class="row">
	            <div class="col-sm-12">
	                <div class="row">
	                    <div class="">
	                        <div class="mbr-header mbr-header--center mbr-header--std-padding">
	                            <h2 class="mbr-header__text">PREVIOUS FILMS</h2>
	                        </div>

					      {% for event in events offset:1 %}
					        <div class="col-sm-4">
							<div style="height: 371px; margin: 0 20px 20px 20px; text-align: center;">
								<img src="{{ event.poster_thumb | relative_url }}" alt="">
  					          <h2>
  					            <a class="post-link" href="{{ event.url | relative_url }}">{{ event.title | escape }}</a>
  					          </h2>
					          <span class="post-meta">
								  {% if event.displaydate %}
									  {{ event.displaydate }}
								  {% else %}
									  {% assign day = event.showdate | date: "%-d"  %}
									{{ event.showdate | date: "%-d" }}<sup>{% case day %}{% when '1' or '21' or '31' %}st{% when '2' or '22' %}nd{% when '3' or '23' %}rd{% else %}th{% endcase %}</sup>
									{{ event.showdate | date: "%B %Y" }}
						  	  	{% endif %}
							</span>
							  </div>
							  </div>

					      {% endfor %}

	                    </div>
	                </div>

	            </div>
	        </div>
	    </div>
	</section>
	
	
  {% include subscribe.html %}
  

	
